/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-gray-800 w-screen;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

.code {
	@apply font-mono text-sm bg-gray-500/30 rounded-md p-1;
}

.codeblock {
	@apply font-mono text-sm bg-gray-500/30 rounded-md p-4 overflow-x-scroll;
}

.callout {
	@apply flex flex-row space-x-4 bg-gray-500/30 rounded-md p-4;
}

figcaption {
	@apply text-sm text-gray-600 px-4 mb-4;
}

p {
	@apply mb-2;
}

figure,
figcaption {
	@apply mb-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-white/80 mb-4;
}
h1 {
	@apply text-4xl;
}
h2 {
	@apply text-2xl;
}
h3 {
	@apply text-xl;
}
h4 {
	@apply text-lg;
}

a {
	@apply text-white hover:underline;
}

li {
	@apply list-outside;
}
